<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="swerve_module">
    <link name="base_link"></link>

    <link name="FRRotator"></link>
    <link name="FRWheel"></link>

    <link name="FLRotator"></link>
    <link name="FLWheel"></link>

    <link name="BLRotator"></link>
    <link name="BLWheel"></link>

    <link name="BRRotator"></link>
    <link name="BRWheel"></link>

    <joint name="FRAzimuth" type="continuous">
        <parent link="base_link" />
        <child link="FRRotator" />
    </joint>

    <joint name="FLAzimuth" type="continuous">
        <parent link="base_link" />
        <child link="FLRotator" />
    </joint>

    <joint name="BLAzimuth" type="continuous">
        <parent link="base_link" />
        <child link="BLRotator" />
    </joint>

    <joint name="BRAzimuth" type="continuous">
        <parent link="base_link" />
        <child link="BRRotator" />
    </joint>

    <joint name="FRDrive" type="continuous">
        <parent link="FRRotator" />
        <child link="FRWheel" />
    </joint>

    <joint name="FLDrive" type="continuous">
        <parent link="FLRotator" />
        <child link="FLWheel" />
    </joint>

    <joint name="BLDrive" type="continuous">
        <parent link="BLRotator" />
        <child link="BLWheel" />
    </joint>

    <joint name="BRDrive" type="continuous">
        <parent link="BRRotator" />
        <child link="BRWheel" />
    </joint>

    <ros2_control name="swerveModule1" type="system">
        <hardware>
            <plugin>swerve/SwerveModuleHWI</plugin>

            <param name="module_number">FR</param>

            <param name="azimuth_encoder_id">1</param>
            <param name="azimuth_motor_id">3</param>
            <param name="drive_motor_id">5</param>
        </hardware>

        <joint name="FRAzimuth">
            <command_interface name="az_target_position"></command_interface>
            <state_interface name="azimuth_position"></state_interface>
            <state_interface name="az_motor_pos"></state_interface>
        </joint>

        <joint name="FRDrive">
            <command_interface name="drive_target_velocity"></command_interface>
        </joint>
    </ros2_control>

    <ros2_control name="swerveModule2" type="system">
        <hardware>
            <plugin>swerve/SwerveModuleHWI</plugin>

            <param name="module_number">FL</param>

            <param name="azimuth_encoder_id">7</param>
            <param name="azimuth_motor_id">9</param>
            <param name="drive_motor_id">11</param>
        </hardware>

        <joint name="FLAzimuth">
            <command_interface name="az_target_position"></command_interface>
            <state_interface name="azimuth_position"></state_interface>
            <state_interface name="az_motor_pos"></state_interface>
        </joint>

        <joint name="FLDrive">
            <command_interface name="drive_target_velocity"></command_interface>
        </joint>
    </ros2_control>

    <ros2_control name="swerveModule3" type="system">
        <hardware>
            <plugin>swerve/SwerveModuleHWI</plugin>

            <param name="module_number">BL</param>

            <param name="azimuth_encoder_id">13</param>
            <param name="azimuth_motor_id">15</param>
            <param name="drive_motor_id">17</param>
        </hardware>

        <joint name="BLAzimuth">
            <command_interface name="az_target_position"></command_interface>
            <state_interface name="azimuth_position"></state_interface>
            <state_interface name="az_motor_pos"></state_interface>
        </joint>

        <joint name="BLDrive">
            <command_interface name="drive_target_velocity"></command_interface>
        </joint>
    </ros2_control>

    <ros2_control name="swerveModule4" type="system">
        <hardware>
            <plugin>swerve/SwerveModuleHWI</plugin>

            <param name="module_number">BR</param>

            <param name="azimuth_encoder_id">19</param>
            <param name="azimuth_motor_id">21</param>
            <param name="drive_motor_id">23</param>
        </hardware>

        <joint name="BRAzimuth">
            <command_interface name="az_target_position"></command_interface>
            <state_interface name="azimuth_position"></state_interface>
            <state_interface name="az_motor_pos"></state_interface>
        </joint>

        <joint name="BRDrive">
            <command_interface name="drive_target_velocity"></command_interface>
        </joint>
    </ros2_control>
</robot>